* {
    margin: 0;
    padding: 0;
}

body {
    color: #666;
}


/* 让所有斜体不倾斜 */

em,
i {
    font-style: normal;
}


/* 去掉li和ul的小圆点 */

li,
ul {
    list-style-type: none;
}


/* 取消链接下划线 */

a {
    text-decoration: none;
    color: #666;
}


/* 清除浮动 */

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}